body {
background-image: url(Jon-Bellion-Conversations-With-My-Wife-Mp3-Download-MAKHITS.com_.jpeg);
background-size: cover;
}



h1 {
text-align: center;
color: blue;
cursor: pointer;
border: 5px solid green;
}

p{
color: black;
cursor:pointer;
line-height: 50px;
text-align: center;
border: 5px solid blue;
text-align: center;
font-style: italic;
font-weight: bold;
font-size: 150%;
}